@import 'normalize';

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
    font:normal 1em 'Raleway', Helvetica, sans-serif;
}

a {
    outline: none;
}

img {
    border:none;
}

.disable-hover, .disable-hover * {
    pointer-events: none !important;
}

.media {
    overflow: hidden;
    zoom:1;
}

.wrapper-bouchons-d-or {
    display: block;
    margin: 0 auto;
    padding:20px 0 0 0;
    width: 840px;
}

.block-headline {
    background:url(../images/svg/header-bouchons-d-or.svg) left top no-repeat;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    height: 150px;
    width: 832px;
}

.no-svg .block-headline {
    background-image:url(../images/png/header-bouchons-d-or.png);
}


.wrapper-bouchons-d-or h1 {
    color:#6f6371;
    display: inline-block;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    vertical-align: top;
}

.wrapper-bouchons-d-or h1 strong {
    border-top:1px solid #000;
    display: block;
    font-size: 39px;
    font-weight: normal;
    margin: 3px 0 0 0;
    padding: 3px 0 0 0;
}

.wrapper-bouchons-d-or p {
    line-height:1.6;
}

.block-title {
    text-align: center;
}

.block-title p {
    display: block;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

.block-title--commitee p {
    padding: 0 0 25px 0;
}

.block-title--commitee p:first-child {
     padding: 25px 0;
}

.grid-filter__list {
    list-style-type:none;
    margin: 0;
    padding: 30px 0 40px 0;
}

.grid-filter__item {
    -webkit-transition:all .5s linear;
    transition:all .5s linear;
    background:#b3a78f;
    border-radius:50%;
    color:#fff;
    display: inline-block;
    font-size: 13px;
    line-height:1.3;
    height: 65px;
    margin:0 30px 0 0;
    padding:18px 0 0 0;
    position: relative;
    text-align: center;
    vertical-align: top;
    width:65px;
}

.grid-filter__item:first-child {
    line-height: 65px;
    margin:0 45px 0 0;
    padding:0;
    text-transform: uppercase;
}

.grid-filter__item:first-child:after {
    border-right:1px solid #857788;
    content:'';
    height: 65px;
    position: absolute;
    right:-25px;
    top:0;
}

.grid-filter__item:hover, .grid-filter__list .active {
    cursor:pointer;
    background:#857788;
}

.grid {
    margin: 0 0 0 -30px;
    padding: 0 0 20px 0;
    list-style: none;
}

.grid li {
    display: none;
    width: 394px;
    margin: 0 0 15px 30px;
    padding: 0;
    text-align: left;
    position: relative;
}

.oldie .grid li, .touch .grid li {
    overflow: hidden;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure > div {
    background:#faf4f6;
}

.grid .white-wine figure > div {
    background:#fffef4;
}

.grid .champagne figure > div {
    background:url(../images/svg/bg-champagne.svg) left top no-repeat;
}

.no-svg .grid .champagne figure > div {
    background-image:url(../images/png/bg-champagne.png);
}

.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: #5d525e;
    color: #fff;
}

.grid .white-wine figcaption, .grid .champagne figcaption {
    background:#bbb684;
}

.grid figcaption h2 {
    display: block;
    margin: 0;
    padding: 0;
    color: #ed4e6e;
    font-size:1.1em;
    text-transform: uppercase;
}

.grid figcaption h3 {
    display: block;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size:1em;
    text-transform: uppercase;
}

.grid figcaption em {
    color: #ed4e6e;
    font-style:normal;
    font-weight: bold;
    text-decoration: none;
}

.grid figcaption span {
    display: block;
    font-size: .8em;
    margin: 0;
    padding:10px 0 0 0;
}

.about {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
}

.about a {
    -webkit-transition:all .5s linear;
    transition:all .5s linear;
    border-radius:50%;
    border:1px solid #cdc1ab;
    color:#6f6371;
    display: block;
    font-size: 24px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    width: 45px;
}

.about a:hover {
    border-color:#6f6371;
}

.grid li {
    -webkit-perspective: 1700px;
    -moz-perspective: 1700px;
    perspective: 1700px;
    -webkit-perspective-origin: 0 50%;
    -moz-perspective-origin: 0 50%;
    perspective-origin: 0 50%;
}

.grid figure {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.grid figure > div {
    overflow: hidden;
}

.grid figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.no-touch .grid figure:hover img,
.grid figure.cs-hover img {
    -webkit-transform: translateX(24%);
    -moz-transform: translateX(24%);
    -ms-transform: translateX(24%);
    transform: translateX(24%);
}

 .oldie .grid figure img, .touch .grid figure img {
    margin:0 0 0 24%;
 }

.grid figcaption {
    height: 100%;
    width: 50%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .grid figure:hover figcaption, .touch .grid figure figcaption,
.grid figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.grid figcaption em {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin:0;
    width:90%;
}

.media {
    overflow: hidden;
    zoom:1;
}

.alignright {
    float: right;
    margin:0 0 0 5px;
    padding:0;
    text-align: right;
}

.item-body {
    color:#575756;
    padding:10px 0 0 0;
}

.item-body strong {
    display: block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.item-body p {
    clear:both;
    display: block;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

.item-mark {
    background:url(../images/svg/icon-note.svg) left center no-repeat;
    display: inline-block;
    margin: 0;
    padding: 0 0 0 20px;
    vertical-align: top;
}

.no-svg .item-mark {
    background-image:url(../images/png/icon-note.png)
}

.item-price {
    background:url(../images/svg/icon-price.svg) left center no-repeat;
    color:#fe495a;
    display: inline-block;
    margin: 0;
    padding: 0 0 0 20px;
    vertical-align: top;
}

.no-svg .item-price {
    background-image:url(../images/png/icon-price.png)
}

.heart {
    background:url(../images/svg/icon-heart.svg) left top no-repeat;
    color:#fff;
    position: absolute;
    font-size: 11px;
    height: 60px;
    margin: 0;
    padding:12px 0 0 0;
    top:15px;
    right:15px;
    text-align: center;
    text-transform: uppercase;
    width: 60px;
    z-index:2;
}

.no-svg .heart {
    background-image:url(../images/png/icon-heart.png)
}

/* SELECTION */

.commitee {
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 20px 0;
    width: 100%;
    position: relative;
    z-index: 1;
}

.commitee__col {
    display: table-cell;
    margin: 0;
    padding: 0 25px;
    text-align: left;
    vertical-align: top;
    width: 49.9%;
}

.commitee__col:first-child {
   border-right:1px solid #857788;
}

.commitee-col__body {
    padding:0 0 20px 0;
    position:relative;
    z-index:1;
}

.commitee-col__body:before {
    border-top: 1px solid #857788;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    z-index:-1;
}

.commitee-col__body img {
    border-radius:50%;
    display: block;
    float: left;
    margin:0 15px 0 0;
    padding: 0;
}

.commitee-col__body p {
    display: block;
    font-size: 15px;
    margin: 0;
    padding:0;
}

.commitee-col__body strong {
    display: block;
    font-weight: normal;
    font-size: 17px;
    margin: 0;
    padding: 35px 0 20px 0;
}

.dld-pdf {
    display: block;
    a {
        color:#000;
        display: block;
        text-align: right;
    }
}

.notice {
    font-size: 12px;
}

.copyright {
    background:image-url("made-by-ask-media.png") left top no-repeat;
    display: block;
    height:image-height("made-by-ask-media.png");
    margin:10px auto;
    padding: 0;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    width:image-width("made-by-ask-media.png");
    @media (min--moz-device-pixel-ratio: 1.3),
             (-o-min-device-pixel-ratio: 2.6/2),
             (-webkit-min-device-pixel-ratio: 1.3),
             (min-device-pixel-ratio: 1.3),
             (min-resolution: 1.3dppx) {
        background-image: image-url("made-by-ask-media-x2.png");
        background-size: image-width("made-by-ask-media.png") image-height("made-by-ask-media.png");
    }
    a {
        display: block;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}